@use "sass:math";
@import '../../styles/settings.scss';

.navbar {
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-between;

    .icon {
        display: flex;
        flex-direction: row;
        color: white;
        font-size: 24px;
        margin-top: 5px;
        margin-left: 20px

    }
    .titles {
        display: flex;
        margin-right: 20px;
        list-style-type: none;
        li {
            padding: 10px;
            .linkActive {
                color: $color-warning;
            }
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}